<div id="tabContainer" style="text-align: left;">
  <h2>About</h2>
	This project was realised by Marek Novak and Lukas Janik from the Department of Radioelectronics, Faculty of Electrical Engineering and Communication, Brno University of Technology.
	<br><br>
	Please mind looking at these links:
	<br>
	<a href="https://gitlab.com/OK2NMZ/thesis-fso" style="color:blue;">https://gitlab.com/OK2NMZ/thesis-fso</a>
	<br>
	<a href="http://ok2nmz.ltech.cz/thesis_index.html" style="color:blue;">http://ok2nmz.ltech.cz/thesis_index.html</a>
	<br>
	<a href="http://ok2nmz.ltech.cz/eeict_index.html" style="color:blue;">http://ok2nmz.ltech.cz/eeict_index.html</a>
</div>
<p align="center">&copy;2016 DREL FEEC BUT</p>
