<div id="tabContainer"  style="text-align: left;">
  <h2>FSO link configuration</h2>
	<form name="cfg" action="javascript:void(0);" method="post">
	<div id="cfgContent" align="center">
	  <table>
		<tr><td>Channel Coding: </td><td><select name="CHC">
		<option value="0">Disabled</option>
		<option value="1">Reed-Solomon</option>
		</select><td></tr>
		<tr><td>BER Simulator: </td><td><select name="BS">
		<option value="0">Disabled</option>
		<option value="1">Enabled</option>
		</select><td></tr>
		<tr><td>BER Value: </td><td><select name="BSV">
		<option value="0">None</option>
		<option value="4">10^-9</option>
		<option value="43">10^-8</option>
		<option value="429">10^-7</option>
		<option value="4295">10^-6</option>
		<option value="42950">10^-5</option>
		<option value="429497">10^-4</option>
		<option value="4294967">10^-3</option>
		<option value="42949673">10^-2</option>
		</select>
		<td></tr>
		<tr><td>Event Frame Broadcast: </td><td><select name="EFB">
		<option value="1">Enabled</option>
		<option value="0">Disabled</option>
		</select><td></tr>
	  </table>
	</div>
	</form>
	<span class="readBytesButtons">
		<input type="button" value="Send" class="pageButton" onclick="javascript:onSendSettings();">
		<input type="button" value="Refresh" class="pageButton" onclick="javascript:onRefreshSettings();">

	</span>
</div>
<p><br></p>
